@using Microsoft.AspNet.Identity

@if (Session["IdUsuario"] != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Cerrar Sesion", "CerrarSesion", "Usuario") </li>
        <li>@Html.ActionLink("Editar Perfil", "VerPerfil", "Usuario") </li>
    </ul>
}

else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrarse", "Registro", "Usuario") </li>
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Usuario") </li>
        
    </ul>
}
